.nomPrenom {
    line-height: 1.2;
    font-size: 50px;
    color: var(--couleur2);
    text-align: center;
}
.infoNomPrenom {
    font-size: 20px;
    color: var(--couleur2);
    text-align: center;
}
.textAccueilSlogan {
    font-size: 20px;
    line-height: 2;
    text-align: center;
}
.imageFond {
    width: 100%;
    height: auto;
    border-radius: 25px;
}