.textAPropos {
    text-align: justify;
    line-height: 2;
    background-color: white;
    border-radius: 25px;
}
.textSousTitre {
    line-height: 2;
    font-size: 25px;
    background-color: var(--couleur1-pale);
    text-align: center;
    color: white;
    border-radius: 25px;
}
.social {
    color: white;
}
.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
}
.social > a:hover {
    color: var(--couleur1);
}
.social .copyright {
    text-align:center;
    font-size:20px;
}