.boxImage{
}
.boxImage > img{
    width: 70%;
    height: auto;
    transition: all 0.3s ease-in-out;
}
.boxImage:hover > img{
    opacity: 0.5;
    filter: blur(5px);
    transform: scale(1.05);
}
.boxImage .box-content{
    text-align: center;
    width: 100%;
    padding: 5px 0 0;
    transform: translateY(-50%);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
}
.boxImage .box-content .overlay-img{
    width: 50%;
    margin: 0 auto;
}
.boxImage .box-content .overlay-img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transform: translateY(80%);
    transition: all 0.3s ease 0.1s;
}
.boxImage:hover .box-content .overlay-img img{
    opacity: 1;
    transform: translateY(0);
}
.boxImage .box-content .inner-content{
    color: white;
    padding: 10px 15px;
    opacity: 0;
    transform: scaleY(1.5);
    position: relative;
    transition: all 0.3s ease;
}
.boxImage:hover .box-content .inner-content{
    opacity: 1;
    transform: scaleY(1);
}
.boxImage .title{
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}
.boxImage .post{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
}
@media only screen and (max-width:990px){
    .boxImage { margin: 0 0 30px; }
}


#chaqueCentreInteret .card, #chaqueAtout .card, #chaqueLangage .card, #chaqueFramework .card, #chaqueLogiciel .card {
    position: relative;
    margin: 2rem;
    border: none;
}

.card-side {
    transition: all 0.8s ease;
    backface-visibility: hidden;
    border-radius: 25px;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
}

.card-side.back {
    transform: rotateY(-180deg);
}

.card:hover .card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}