.languesAnglais {
    position:relative;
    text-align: center;
}
.languesEspagnol {
    position:relative;
    text-align: center;
}

/* Styling the determinate progress element */
progress[value] {
    width: 80%;
    height: 20px;
    border-radius: 10px;
    margin: auto;
}

progress[value]::-webkit-progress-bar {
    border: lightslategrey solid 1px;
    border-radius: 10px;
    background-color: transparent;
}

.progress::-webkit-progress-value {
    /* Gradient background with Stripes */
    background-image:
        -webkit-linear-gradient( 20deg,
        transparent,
        transparent 66%),
        -webkit-linear-gradient( top,
        #ffffff1a,
        #ffffff1a),
        -webkit-linear-gradient( right, var(--couleur4), var(--couleur5));
}