@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

.titreLangues {
    position:relative;
    font-size: 40px;
}
.languesAnglais {
    position:relative;
    text-align: center;
}
.languesEspagnol {
    position:relative;
    text-align: center;
}

.titreLangages {
    position:absolute;
    top: 60%;
    left: 2%;
    width: 18%;
    font-size: 40px;
    text-align: center;
    z-index: 2;
}
.langagesContenu {
    position:absolute;
    top: 55%;
    left: 20%;
    width: 80%;
    z-index: 2;
}

.titreLogiciels {
    position:absolute;
    top: 85%;
    left: 2%;
    width: 18%;
    font-size: 40px;
    text-align: center;
    z-index: 2;
}
.logicielsContenu {
    position:absolute;
    top: 80%;
    left: 20%;
    width: 80%;
    z-index: 2;
}

/* Styling the determinate progress element */
progress[value] {
  appearance: none;/* Get rid of the default appearance */
  border: none;  /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
  width: 100%;
  height: 20px;/* Add dimensions */
  /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(250, 249, 249, 0.5) inset;
  /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
  color: royalblue;
  position: relative;
  margin: 0 0 1.5em;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
  background-color: lightgrey;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius:3px;
  animation: animate-stripes 5s linear infinite;/* Let's animate this */
}
@keyframes animate-stripes {
    100% {
        background-position: -100px 0;
    }
}
/* Let's spice up things little bit by using pseudo elements. */
progress[value]::-webkit-progress-value:after {
  /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
  content: '';
  position: absolute;
  width:5px; 
  height:5px;
  top:7px; 
  right:7px;
  background-color: white;
  border-radius: 100%;
}
/* Fallback technique styles */
.progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  /* Dimensions should be similar to the parent progress element. */
  width: 300px; 
  height: 20px;
}
.progress-bar span {
  background-color: royalblue;
  border-radius: 3px;
  display: block;
  text-indent: -9999px;
}

.anglais::-webkit-progress-value {
  /* Gradient background with Stripes */
  background-image:
          -webkit-linear-gradient( 40deg,
          transparent,
          transparent 66%),
          -webkit-linear-gradient( top,
          #ffffff1a,
          #ffffff1a),
          -webkit-linear-gradient( right, #ff8e6c, #0036cc);
}
.espagnol::-webkit-progress-value {
  /* Gradient background with Stripes */
  background-image:
          -webkit-linear-gradient( 40deg,
          transparent,
          transparent 66%),
          -webkit-linear-gradient( top,
          #ffffff1a,
          #ffffff1a),
          -webkit-linear-gradient( right, #ffe15c, #cc0000);
}