@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

.titreLangues {
    position:relative;
    font-size: 40px;
}
.languesAnglais {
    position:relative;
    text-align: center;
}
.languesEspagnol {
    position:relative;
    text-align: center;
}

.titreLangages {
    position:absolute;
    top: 60%;
    left: 2%;
    width: 18%;
    font-size: 40px;
    text-align: center;
    z-index: 2;
}
.langagesContenu {
    position:absolute;
    top: 55%;
    left: 20%;
    width: 80%;
    z-index: 2;
}

.titreLogiciels {
    position:absolute;
    top: 85%;
    left: 2%;
    width: 18%;
    font-size: 40px;
    text-align: center;
    z-index: 2;
}
.logicielsContenu {
    position:absolute;
    top: 80%;
    left: 20%;
    width: 80%;
    z-index: 2;
}

/* Styling the determinate progress element */
progress[value] {
    width: 80%;
    height: 20px;
    border-radius: 10px;
    margin: auto;
}

progress[value]::-webkit-progress-bar {
    border: lightslategrey solid 1px;
    border-radius: 10px;
    background-color: transparent;
}

.progress::-webkit-progress-value {
    /* Gradient background with Stripes */
    background-image:
        -webkit-linear-gradient( 20deg,
        transparent,
        transparent 66%),
        -webkit-linear-gradient( top,
        #ffffff1a,
        #ffffff1a),
        -webkit-linear-gradient( right, var(--blue-light-color), var(--blue-dark-color));
}