.polaroide .photoPolaroide .info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
	font-size: 20px;
	opacity: 0;
	transition-duration: 1s;
}
.polaroide .photoPolaroide:hover .info {
	opacity: 1;
}
.polaroide .photoPolaroide .infoAtouts {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
	font-size: 15px;
	opacity: 0;
	transition-duration: 1s;
}
.polaroide .photoPolaroide:hover .infoAtouts {
	opacity: 1;
}