.school .c {
    box-shadow: 0 4px 0 var(--brown-dark-color);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding-bottom: 180px;
}

.school .c .wrap {
    position: relative;
}

.school .c .wrap img {
    width: 90%;
    height: auto;
    border-radius: 25px;
}

.school .c .wrap .info {
    padding: 30px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.school .c .wrap .info{
    margin: 0;
}

.school .c:hover .wrap .dateEtudes{
    color: var(--brown-light-color);
}

.school .c .more {
    position: absolute;
    color: white;
    bottom: -100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.school .c .more p {
    margin: 0 18px 30px 18px;
    line-height: 22px;
    color: white;
}

.school .c:hover img {
    filter: blur(3px);
}

.school .c:hover .info {
    top: 50px;
    background-image: linear-gradient(-45deg, var(--brown-light-color) 0%, var(--brown-dark-color) 100%);
    color: white;
}

.school .c:hover .more {
    bottom: 20px;
}