.hero {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 50px);
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    background: -moz-linear-gradient(top,  rgba(114,81,109,0) 0%, rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(top,  rgba(114,81,109,0) 0%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to bottom,  rgba(114,81,109,0) 0%, rgb(255, 255, 255) 100%);
    z-index: 1;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.background #hero-canvas {
    top: 8%;
    width: 100%;
    height: 100%;
    position: relative;
}
