:root {
	--couleur1: rgb(143, 14, 91);
	--couleur1-pale: #85486c;
	--couleur2: #DB0082;
	--couleur3: #DBBF01;
	--couleur4: #16CDDB;
	--couleur5: #07858F;
}
body {
	background-color: #e9efec !important;
}
span, label, div, p, a, .h1, .h2n .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: Consolas, monaco, monospace;
	color: black;
}
div, p, a, nav {
	font-size: 15px;
}
a {
	text-decoration: none !important;
}
/*----------------------------------------------- NAVIGATION -----------------------------------------------*/
.navigation {
	position: fixed;
	width: 100%;
	align-items: center;
	font-size: 15px;
	text-align: center;
	padding: 20px;
	background-color: var(--couleur5);
	z-index: 5;
}
.navigation a {
	color: white;
	border-radius: 25px;
	padding: 15px;
}
.navigation a:hover {
	color: var(--couleur3);
}
/*----------------------------------------------- OMBRE -----------------------------------------------*/
.box_shadow {
	box-shadow: 0 0 15px dimgrey;
}
/*----------------------------------------------- IMAGES & LOGOS -----------------------------------------------*/
.moiImage {
	position: relative;
	width: 350px;
	height: auto;
	border-radius: 25px;
}
.drapeau {
	height: 120px;
	width: auto;
	border-radius: 10px;
}
.petitLogo {
	height: 80px;
	width: 80px;
	background-color: inherit !important;
}
.imgCentreInteret {
	width: 100%;
	height: 400px;
	margin: auto;
	text-align: center;
	border-radius: 25px;
	background-color: inherit !important;
}
.imgCentreAtout {
	width: 105px;
	height: 105px;
	background-color: inherit !important;
}
/*----------------------------------------------- LES TITRES -----------------------------------------------*/
.titre {
	background-color: var(--couleur5);
	font-size: 40px;
	text-align: center;
	color: white;
	border-radius: 25px;
}
.orangered-text {
	color: var(--couleur1);
}
.cardBlanc {
	background-color: white;
	border-radius: 25px;
}
/*----------------------------------------------- NUANCES -----------------------------------------------*/
.couleur1-2-nuance {
	background-image: linear-gradient(-45deg, var(--couleur2) 0%, var(--couleur1) 100%);
}
.couleur4-5-nuance {
	background-image: linear-gradient(-45deg, var(--couleur4) 0%, var(--couleur5) 100%);
}
.degrade1:hover {
	background-image: linear-gradient(-45deg, var(--white) 0%, var(--couleur1) 100%);
}
.degrade2:hover {
	background-image: linear-gradient(-45deg, var(--white) 0%, var(--couleur2) 100%);
}
.degrade3:hover {
	background-image: linear-gradient(-45deg, var(--white) 0%, var(--couleur3) 100%);
}
.degrade4:hover {
	background-image: linear-gradient(-45deg, var(--white) 0%, var(--couleur4) 100%);
}
.degrade5:hover {
	background-image: linear-gradient(-45deg, var(--white) 0%, var(--couleur5) 100%);
}