:root {
	--blue-dark-color: #189a82;
	--blue-color: #5bd5be;
	--blue-light-color: #52EBCF;
	--brown-dark-color: #9E3D18;
	--brown-light-color: #EB7C52;

	--blue---color: #42eae4;
	--blue-dark---color: #005451;
	--green---color: #52EB78;
	--green-dark---color: #005018;
	--orange---color: #eb8d52;
	--orange-dark---color: #502300;
	--red---color: #e84361;
	--red-dark---color: #50000e;
}
body {
	font-family: 'Oswald', sans-serif;
	color: black;
	background-color: #e7e7e7;
}
/*----------------------------------------------- NAVIGATION -----------------------------------------------*/
.navigation {
	position: fixed;
	width: 100%;
	align-items: center;
	font-size: 15px;
	text-align: center;
	padding: 20px;
	background-color: var(--blue-color);
	z-index: 5;
}
.navigation a {
	color: black;
	border-radius: 25px;
	padding: 15px;
}
.navigation a:hover {
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 15px;
	background-image: linear-gradient(-45deg, var(--brown-light-color) 0%, var(--brown-dark-color) 100%);
}
/*----------------------------------------------- OMBRE -----------------------------------------------*/
.box_shadow {
	box-shadow: 0 0 15px dimgrey;
}
/*----------------------------------------------- IMAGES & LOGOS -----------------------------------------------*/
.moiImage {
	position: relative;
	width: 350px;
	height: auto;
}
.drapeau {
	height: 70px;
	width: 140px;
	border-radius: 10px;
}
.petitLogo {
	height: 80px;
	width: 80px;
}
.imgCentreInteret {
	width: 150px;
	height: 105px;
}
.imgCentreAtout {
	width: 105px;
	height: 105px;
}
/*----------------------------------------------- LES TITRES -----------------------------------------------*/
.titre {
	color: var(--brown-light-color);
	font-size: 40px;
}
.orangered-text{
	color: var(--brown-light-color);
}
/*----------------------------------------------- NUANCES -----------------------------------------------*/
.brown-nuance {
	background-image: linear-gradient(-45deg, var(--brown-light-color) 0%, var(--brown-dark-color) 100%);
}
.blue-nuance {
	background-image: linear-gradient(-45deg, var(--blue-light-color) 0%, var(--blue-dark-color) 100%);
}
.blue-nuancePARCOURS:hover {
	background-image: linear-gradient(-45deg, var(--blue---color) 0%, var(--blue-dark---color) 100%);
}

.green-nuancePARCOURS:hover {
	background-image: linear-gradient(-45deg, var(--green---color) 0%, var(--green-dark---color) 100%);
}

.red-nuancePARCOURS:hover {
	background-image: linear-gradient(-45deg, var(--red---color) 0%, var(--red-dark---color) 100%);
}

.orange-nuancePARCOURS:hover {
	background-image: linear-gradient(-45deg, var(--orange---color) 0%, var(--orange-dark---color) 100%);
}