.date {
    color: orangered;
    text-align: center;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    background-color: ghostwhite;
}
.etude_img {
    width: 300px;
    height: auto;
}
.fond {
    background-color: rgba(255, 69, 0, 0.11);
}
/* Blocks */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
    width: 100%;
    font-size: 20px;
    position: relative;
    padding: 1.5%;
    color: white;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
    z-index: 2;
}
.profile::before,
.profile::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    font-size: 20px;
}
.profile::after {
    background: linear-gradient(
        45deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%
    );
    opacity:0;
    transition: 300ms opacity linear;
}
.profile::before {
    background: linear-gradient(
        45deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%
    );
    transition: 300ms opacity linear;
}
.profile > * {
    z-index: 2;
}
.profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    object-fit: cover;
    transition: filter 200ms ease, transform 250ms linear;
}
.profile h2,
.profile p,
.profile i {
    transform: translateY(2ex);
}
.profile h2 {
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
    font-size: 20px;
}
.profile p {
    font-size: 15px;
    font-weight: 500;
}
.profile p {
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
}
.profile:focus {
    outline: 0.5% solid white;
    outline-offset: -0.5%;
}
.profile:hover :is(h2, p, i),
.profile:focus :is(h2, p, i) {
    color: black;
    background-color: white;
}
.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
    opacity: 0;
}
.profile:hover p,
.profile:focus p {
    opacity: 1;
    transition-delay: 200ms;
}
.profile:hover img,
.profile:focus img {
    filter: saturate(100%);
    transform: scale(1.05) rotate(1deg);
}
 /*----------------------------------------------------------------------------*/

.projet_etude .projet .infoProjet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    opacity: 0;
    transition-duration: 1s;
}
.projet_etude .projet:hover .infoProjet {
    opacity: 1;
}
.photoProjetHorizontal {
    width: 100%;
    height: auto;
}
.photoProjetVertical {
    width: auto;
    height: 450px;
}